.NewTodo {
  background-color: #d2e4f0;
  height: 50px;
  padding: 20px;
}


.NewTodo input[type = 'text'] {
  width: 80%;
  height: 28px;
  font-size: 18px;
  padding: 0 10px;
  border: 0px;
  outline: none;
  margin-top: 10px;
  border: 1px solid #ccc;
  font-weight: 400;
  color: #444;
}

.NewTodo input::placeholder {
  color: #ccc;
}

.NewTodo button {
  margin-left: 6px;
  padding: 10px 10px 4px;
  background-color: #69A6CE;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  font-family: 'Gill Sans';
}
